.switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
}

.switch input {
    display: none;
}

.slider {
    background-color: transparent;
    border: 1px solid #C71738;
    cursor: pointer;
    transition: .4s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slider:before {
    background-color: #C71738;
    bottom: 3px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked + .slider {
    background-color: transparent;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*SM*/
.switch-sm {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 45px;
}

.slider-sm.round {
    border-radius: 34px;
}

.switch-sm input {
    display: none;
}

.slider-sm {
    background-color: transparent;
    border: 1px solid #C71738;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider-sm:before {
    background-color: #C71738;
    bottom: 4px;
    content: "";
    height: 10px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 10px;
}

input:checked + .slider-sm {
    background-color: transparent;
}

input:checked + .slider-sm:before {
    transform: translateX(26px);
}

.slider-sm.round:before {
    border-radius: 50%;
}
