#html5-watermark{
    display: none !important;
}

.wrapper {
    width: 330px;
    font-family: "Helvetica";
    font-size: 14px;
    border: 1px solid #ccc;
}
.StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
}
.StepProgress::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #000;
}
.StepProgress-item {
    position: relative;
    counter-increment: list;
}
/*.StepProgress-item:not(:last-child) {
    padding-bottom: 20px;
}*/
.StepProgress-item::before {
    display: inline-block;
    content: "";
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
}
.StepProgress-item::after {
    content: "" !important;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -35px;
    width: 13px;
    height: 13px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
}

/*.StepProgress-item.is-done::before {
    border-left: 2px solid black;
}*/

.StepProgress-item.is-done::after {
    content: "✔";
    font-size: 10px;
    color: #fff;
    text-align: center;
    border: 2px solid black;
    background-color: black;
}

.StepProgress-item.is-done:hover::after {
    border: 2px solid #C71738;
    background-color: #C71738;
}

.StepProgress-item.is-done:hover {
    color: #C71738;
}

.StepProgress-item.is-done.is-active::after {
    left: -36px;
    width: 15px;
    height: 15px;
    border: 2px solid #C71738;
    background-color: #C71738;
}

.StepProgress-item.current::before {
    border-left: 2px solid green;
}
.StepProgress-item.current::after {
    content: counter(list);
    padding-top: 1px;
    width: 19px;
    height: 18px;
    top: -4px;
    left: -40px;
    font-size: 14px;
    text-align: center;
    color: green;
    border: 2px solid green;
    background-color: white;
}
.StepProgress strong {
    display: block;
}

ul > li.StepProgress-item.complete strong {
    /*background-color: #F5F5F7;
    padding: 8px;*/
}